#web {
	width: 1280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}


#Banner {
	width: auto;
	height: 200px;
	background-color:#00CED1;
	text-align: center;
	padding: 15px;
}
#navbar {
	font-size: 20px;
	width:auto;
	height:auto;
	background-color:#DCDCDC;
	padding: 2px;
	margin-top: 5px;
	border-radius: 15px;


}
#navbar ul li {
	margin-left: 8px;
	list-style-type: none;
	display: inline;
	padding-left: 0px;
	padding: 2px;

}
#navbar ul li a {
	text-decoration: none;
	padding: 10px 10px;
	border-radius: 5px;
	transition: color 1s, background 1s ;

}
#navbar ul li a:hover {
	color:#F0F8FF;
	background-color:#000000;
}
#buttons {
	background-color: #B0C4DE;
	margin-top: 5px;
	height: 300px;
	width: auto;
}
#table {
	background-color:#F5DEB3;
	width: auto;
	height: 500px;
	padding: 5px;
	margin-top: 5px;
}
div#trai {
	width: 49%;
	height: auto;
	float: left;
	
}
div#phai {
	width: 49%;
	height: auto;
	float: right;

}
#thumnails {
	width: auto;
	height:auto;
	background-color: #ADD8E6;
	margin-top: 5px;
	padding: 10px;
	text-align:center;
}
#form {
	width: auto;
	height: 350px;
	background-color:#E9967A;
	margin-top: 5px;
	padding: 10px;
}
div#buttons-left {
	width: 19%;
	height:290px;
	float: left;
	list-style-type: none;
	background-color: #F0F8FF;
	padding-top: 10px;
	padding-left: 0px;
}
div#buttons-right {
	width: 80%;
	height: 290px;
	float: left;
	background-color:#008B8B;
	padding-left: 10px;
	padding-top: 10px;
}
div#buttons-left ul li a {
	text-decoration: none;
	border-radius: 5px;
	padding: 10px 10px;
	font-size: 20px;

}
div#buttons-left ul li {
	list-style-type: none;
	padding:7px 0px;
}
div#buttons-left ul li a:hover {
	color:#F0F8FF;
	background-color:#000000;
}
#navbar form {
	float: right;
}
#footer {
	text-align: center;
	width: auto;
	height: auto;
	background-color: #FFEBCD;
}

#Reponsion {
	width: auto;
	height: 500px;
	background-color: #8FBC8F;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 5px;
	text-align: center;
	color: #FF4500;

}
#media {
	width: auto;
	height: 500px;
	background-color: #F5FFFA;
	margin-top: 5px;
	padding: 10px;
}
#label	{
	width: auto;
	height: 400px;	
	background-color: #F0F8FF;
	margin-top: 5px;
	padding-top: 30px;
	padding-left: 20px;
}
#no1 span {
	color: #FFF;
	font-size: 30px;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;

}
span.n1 {
	background-color: #2F4F4F;
}
span.n2 {
	background-color: #0000CD;
}
span.n3 {
	background-color: #008000;
}
span.n4 {
	background-color: #00BFFF;
}
span.n5 {
	background-color: #FFD700;
}
span.n6 {
	background-color: #FF4500;
}
#no2 span {
	color: #FFF;
	font-size: 25px;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;

}
#no3 span {
	color: #FFF;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;

}
#buttons-right button {
	font-size: 200%;
	border-radius: 7px;
	border: 0px solid white;
	color: #FFF;
}
button.n1 {
	background-color: #778899;
}
button.n2 {
	background-color: #0000CD;
}
button.n3 {
	background-color: #008000;
}
button.n4 {
	background-color: #00BFFF;
}
button.n5 {
	background-color: #FFD700;
}
button.n6 {
	background-color: #FF4500;
}
